* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
}

/* Common */

a {
  text-decoration: none;
}
a:hover {
  border-bottom-style: solid;
  border-color: rgb(255, 255, 255);
}

.white {
  color: rgb(255, 255, 255);
}

.red {
  color: rgb(255, 0, 0);
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 6rem;
  height: 100%;
}

header {
  grid-area: header;
  background: rgb(0, 124, 186);
  height: 100%;
  width: 100%;
}

main {
  grid-area: main;
  min-height: 64rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
  background: rgb(0, 124, 186);
  height: 100%;
  width: 100%;
}

/* Comics */

.comic-container {
  max-width: 1080px;
}

.comic-container__elements {
  width: 100%;
}
.comic-container * {
  text-align: center;
  margin: 0 auto;
}

/* Footer and Navbar */
.footer-container,
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.navbar-container {
  width: 70%;
  justify-content: flex-end;
}

.navbar-container__links {
  margin-right: 2rem;
  font-size: 2rem;
}

/* buttons */

.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 124, 186);
}

.btn:hover {
  background-color: rgb(0, 73, 110);
}
